html {
    box-sizing: border-box;
    overflow: hidden;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main-page {
    display: inline-block;
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 50px;
}

@font-face {
    font-family: 'GILAM-REGULAR';
    src: url("../FONTS/Gilam-Regular.ttf");
}

@font-face {
    font-family: 'GILAM-BOLD';
    src: url("../FONTS/Gilam-Bold.otf");
}

@font-face {
    font-family: 'CIRCE-REGULAR';
    src: url("../FONTS/Circe-Regular.ttf");
}

@font-face {
    font-family: 'CIRCE-BOLD';
    src: url("../FONTS/Circe-Bold.ttf");
}

.parallax-section {
    position: relative;
    width: 100%;
    height: 200vh;
    overflow: hidden;
}
.parallax-section::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 150vh;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateZ(-150px) scale(2);
    background: center/cover no-repeat;
    background-image: fixed
}

.parallax-section_1::before {
    background-image: url(../IMG/header_bg.jpeg);
    height: 67%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-section_2::before {
    background-image: url(../IMG/parallax_bg.jpeg);
    background-attachment: fixed;
}

.parallax-section_3::before {
    background-image: url(../IMG/parallax_bg.jpeg);
    background-attachment: fixed;
}

.main-page{
}

.content {
    display: inline-block;
    width: 1280px;
    height: 800px;
}

.content>.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 1280px;
    text-align: center;
    margin-top: 50px;
}

.logo {
    width: 216px;
    height: 33px;
}

.phone_01 {
    color: #D6AF76;
    font-family: 'CIRCE-REGULAR';
    font-size: 19px;
}

.phone_02 {
    color: #fff;
    font-family: 'CIRCE-REGULAR';
    font-size: 20px;
}

.callback::before {
    content: url(../IMG/phone.png);
    padding-right: 7px;
}

.callback {
    display: inline-block;
    width: 218px;
    height: auto;
    font-family: 'CIRCE-REGULAR';
    font-size: 18px;
    color: #E4B564;
    border: 1px solid #E4B564;
    padding: 10px 25px;
    margin-left: 20px;
}

.context_main {
    display: inline-block;
    width: 1280px;
    font-family: 'GILAM-BOLD';
    font-size: 48px;
    color: #fff;
    text-align: left;
    margin-top: 50px;

}

.context_main.descript {
    font-size: 25px;
    margin-top: 15px;

}

.grid-container01 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 1280px;
    margin-top: 43px;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.grid-container01>div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 480px;
    color: #fff;
    padding: 1em;
    font-family: 'GILAM-BOLD';
    font-size: 18px;

}

.item01 {
    grid-area: 1 / 1 / 2 / 3;
    background: #634F2C;
}

.item02 {
    grid-area: 1 / 3 / 2 / 5;
    background: #B4A385;
    padding-bottom: 30%;
}

.item03 {
    grid-area: 1 / 5 / 2 / 7;
    background: #E4B564;
}

.item04 {
    grid-area: 2 / 1 / 3 / 4;
    background: #635A4A;
}

.item05 {
    grid-area: 2 / 4 / 3 / 7;
    background: #B08C4D;
}

.context_main.number02 {
    padding-top: 57px;
    margin-left: 0 auto;
}

.flex-container02 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-bottom: 140px;
    width: 1301px;
    height: 927px;
    font-family: 'GILAM-REGULAR';
    color: #fff;
}

.flex-container02>div {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    text-align: start;
    width: 32%;
    gap: 25px;
    padding-top: 50px;
    padding-left: 37px;
    margin-top: 25px;
    font-size: 20px;
}
.internal.item032:after { 
    padding-left: 105px; 
}

.flex-item01 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: start;
    text-align: start;
    width: 100%;
    padding-left: 0px;
    height: 313px;
    background: #0E0E0E;
}

.flex-item01>.internal.item011 {
    display:inline-block;
    flex-wrap: nowrap;
    position: absolute;
    width: 100%;
    background: none;
    padding-top: 10px;
    padding-left: 23px;
    font-family: 'GILAM-REGULAR';
    font-size: 20px;
}

.flex-item01>.internal.item012 {
    display:inline;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    justify-items: flex-start ;
    background: none;
    width: 300px;
    height: 30px;
    padding-top: 35px;
    padding-left: 0px;
    font-family: 'GILAM-BOLD';
    font-size: 20px;
}


.flex-item02 {
    height: 560px;
    background: #1F1F1F;
}

.flex-item03 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: start;
    text-align: start;
    width: 100%;
    padding: 0px;
    height: 439px;
    background: #242424;
}

.flex-item04 {
    height: 405px;
    background: #E4B564;
}

.flex-item05 {
    height: 255px;
    background: #1F1F1F;
}

.flex-item06 {
    height: 313px;
    background: #0E0E0E;
}

.flex-item07 {
    height: 277px;
    background: #0A0909;
    font-family: 'GILAM-BOLD';
    font-size: 50px;
}

.flex-item03>.internal.item031 {
    display: inline-block;
    flex-wrap: nowrap;
    position: absolute;
    width: 100%;
    background: none;
    padding-top: 10px;
    margin-left: 0 auto;
    padding-left: 23px;
    font-family: 'GILAM-REGULAR';
    font-size: 20px;
}

.flex-item03>.internal.item032 {
    display:inline;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    justify-items: flex-start ;
    background: none;
    width: 300px;
    height: 30px;
    margin-left: -25px;
    padding-top: 35px;
    padding-left: 0px;
    font-family: 'GILAM-BOLD';
    font-size: 20px;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 1280px;
    margin-top: 100px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
}

.projects_main {
    display: inline-block;
    width: 1280px;
    font-family: 'GILAM-BOLD';
    font-size: 48px;
    color: #fff;
    text-align: left;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.all-projects {
    display: inline-block;
    width: 218px;
    height: auto;
    font-family: 'CIRCE-REGULAR';
    font-size: 18px;
    color: #E4B564;
    border: 1px solid #E4B564;
    padding: 10px 25px;
   
}

.grid-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 1280px;
    height: 778px;
    margin-top: 34px;
    margin-bottom: 100px;
} 

.grid-footer>div {
    display: flex;
    align-items: center;
    text-align: center;
    height: 390px;
    color: #fff;
    font-family: 'GILAM-BOLD';
}

.item14 {
    display: flexbox;
    align-items: center;
    justify-content: center;
    width: 430px;
    margin: 0 auto;
    background: #634F2C;}

.item15>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 390px;
    width: 430px;
    color: white;
    padding: 1em;
    font-family: 'GILAM-BOLD';
    font-size: 18px;}


.item16 {
    display: flexbox;
    align-items: center;
    justify-content: center;
    width: 430px;
    background: #E4B564;}

.item17 {
    display: flexbox;
    align-items: center;
    justify-content: center;
    width: 430px;
    margin: 0 auto;
    background: #635A4A}

.item18 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 390px;
    width: 430px;
    font-family: 'GILAM-REGULAR';
    color: white;
    font-size: 27px;
    background: #B08C4D; }

.item18>.item18.footer1801 {
    position: absolute;
    background-color: transparent;
    z-index: 0;
}

.item18>.item18.footer1802 {
    width: 52px;
    height: 0px;
    padding-right: 78px;
    padding-top: 7px;
    background-color: none;
}


.item19 {
    display: flexbox;
    align-items: center;
    justify-content: center;;
    width: 430px;
    z-index: 1;
    background: #634F2C;}
    
.flex-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: #e8d2ab; }

.flex-footer>.flex-footer01 {
    position: absolute;
    background-color: #e8d2ab;
    padding-top: 20px;
    z-index: 1;}
    

.flex-footer>.flex-footer02 {
    position: absolute;
    flex-wrap: wrap;
    padding-top: 77px;
    font-size: 20px;
    background-color: #e8d2ab;} 
    
.flex-footer>.flex-footer03 {
    display: flex;
    flex-wrap: wrap;
    background: none;
    width: 378px;
    height: 78px;
    padding-top: 155px;
    font-family: 'GILAM-BOLD';
    font-size: 22px;
}

.flex-footer>.flex-footer04 {
    display: flex;
    flex-wrap: wrap;
    background: none;
    width: 287px;
    height: 78px;
    padding-bottom: 143px;
    padding-left: 12px;
    font-family: 'GILAM-REGULAR';
    font-size: 22px;}